body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
  }
  main {
    padding: 20px;
  }
  #tags button {
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .project {
    margin-bottom: 20px;
  }
  
  .headshot {
    width: 50px; /* Adjust size as needed */
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}